#bounding-box-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  /* 기본 파란색 */
  color: white;
  transition: background-color 0.3s ease;
}

#bounding-box-btn.active {
  background-color: #dc3545;
  /* 비활성화 시 빨간색 */
}