/* 필터 항목 스타일 */
.filter-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: opacity 0.3s ease;
  /* 부드럽게 opacity 전환 */
}

/* 필터 항목 제목(체크박스와 레이블을 포함하는 부분) 스타일 */
.filter-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* 체크박스가 해제되었을 때, 부모 filter-item의 opacity를 0.6으로 설정 */
.filter-item input[type="checkbox"]:not(:checked) {
  opacity: 0.6;
}

/* filter-item 전체에 opacity 적용 */
#use_voice_connection:checked~.filter-title~input[type="range"] {
  opacity: 0.6;
}

/* 체크박스가 해제되었을 때, 해당 .filter-item의 opacity를 0.6으로 설정 */
.filter-item input[type="checkbox"]:not(:checked)~input[type="range"] {
  opacity: 0.6;
  /* 슬라이더의 opacity를 0.6으로 설정 */
}

/* 필터 제목(체크박스와 레이블)에도 체크박스가 해제되었을 때 opacity 0.6 적용 */
.filter-item input[type="checkbox"]:not(:checked)~.filter-title {
  opacity: 0.6;
  /* 제목 레이블에도 불투명도 적용 */
}

/* 슬라이더가 부모 요소 안에서 화면 크기에 맞게 커지도록 설정 */
input[type="range"] {
  flex-grow: 1;
  transition: opacity 0.3s ease;
  /* opacity 변화 부드럽게 */
}


#bounding-box-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  /* 기본 파란색 */
  color: white;
  transition: background-color 0.3s ease;
}

#bounding-box-btn.active {
  background-color: #dc3545;
  /* 비활성화 시 빨간색 */
}